body {
  /*font-family: Helvetica;*/
}
#papersContent .year {
  margin-right: 5px;
  float: left;
}
#papersContent .paper-content {
  float: left;
  width: 80%;
}
#papersContent .title {
  font-weight: 200%;
}
#papersContent .category {
  /*clear:both;*/
  /*page-break-before: always;*/
}
#papersContent .paper {
  margin-bottom: 10px;
  width: 100%;
}

#papersContent .authors,
#papersContent .venue {
  color: #777;
}

#papersContent .clearer {
  clear: both;
}

.type-cat span {
  margin-right: 15px;
}
