#projectsComb {
	width: 100%;
}

#projectsComb .mesh {
  fill:none;
  stroke: white;
  stroke-width: 1.5;
}
#projectsComb #hexClip {
  fill:black;
}
#projectsComb circle {
  fill:none;
  stroke:steelblue;
}

#projectsComb svg {
	-webkit-box-shadow: 0px 0px 109px -10px #bdbdbd;
    -moz-box-shadow: 0px 0px 109px -10px #bdbdbd;
  box-shadow: 0px 0px 109px -10px #bdbdbd;
}

#projectsComb image {
  /*zoom: 1.2;*/
  display: block;
  margin: auto;

  max-height: 100%;
  max-width: 100%;
}
#projectsComb image.tall {
  width: auto;
}
#projectsComb image.wide {
  height: auto;
}