doctype html
html
  head
    title CS 5610 Web Development Northeastern University Oakland, Fall 2025 Syllabus
    meta(charset="utf-8")
    style.
      .logo {
        height: 70px;
      }
    meta(Description="CS 5610 Web Development Northeastern University Oakland, Fall 2025")
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- link(href="../../css/bootstrap.css" rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
    style.
      .schedule li {
        margin-bottom: 10px;
      }
body
  div.content.container
    div.row
      div.col-md-8.col-sm-12
        h1 CS 5610 Web Development #[br] Northeastern University Oakland
          br
          small Fall 2025


        br
        img.logo(src="../../img/seal_logotype-768x252.png" alt="Northeastern University Logo" )
        br
        p
          strong Instructor:
          span #[a(href="https://johnguerra.co")  John Alexis Guerra Gómez]
          br


        div
          a(href="students/index.html").btn.btn-md.btn-primary Student Submissions
        //- br
        //- a(href="projects.html").btn.btn-md.btn-primary Final projects
        span.
          &nbsp;&nbsp;

        h3 Objectives and Course Description
        p This course offers the fundamentals for understanding modern web development. At the end of this course students should be able to build modern web applications using cutting edge technologies. They should also have developed strong understanding of modern web architectures as well as knowing the history of where they came from. Students should also learn basic skills of web design, accessibility and security.
        p During the semester students will study and prepare asynchronous materials covering basic concepts of web development and web technologies. Classes will be used then to reinforce those concepts, for discussions and for covering advanced concepts.


    div.row
      div.col-md-5.col-12
        h3 Proposed Schedule
        ul.schedule
          li W1  09/05 Fr
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/01_Introduction")  Introduction

          li W2  09/09 Tu
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/02_HTML")  HTML5
          li W2  09/12 Fr
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/03_CSS/")  CSS

          li W3  09/16 Tu
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/04_Bootstrap/")  Bootstrap.js
          li W3  09/19 Fr
            br
            strong  Project 1 due
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/05_Javascript/")  JavaScript

          li W4  09/23 Tu
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/06_Node/")  Node.js
          li W4  09/26 Fr
            br
            strong  Project 1 due
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/06_Node/")  Node.js
            br

          li W5  09/30 Tu
            br
            span  Express
          li W5  10/03 Fr
            br
            span  Mongo

          li W6  10/07 Tu
            br
            span  Forms
          li W6  10/10 Fr
            br
            strong Project 2 Due

          li W7  10/14 Tu
            br
            span Web Architectures Recap
          li W7  10/17 Fr
            br
            strong Midterm Evaluation

          li W8  10/21 Tu
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/07_Svelte/")  React
          li W8  10/24 Fr
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/07_React/")  React

          li W9  10/28 Tu
            br
            span  Passport
          li W9  10/31 Fr
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/07_React/")  React

          li W10 11/04 Tu
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/07_React/")  React
          li W10 11/07 Fr
            br
            strong  Project 3 due
          
          li W11 11/11 Tu
            br
            span #[i Veterans day - No class]
          li W11 11/14 Fr
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/08_Web_Design")   Web design

          li W12 11/18 Tu
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/08_Web_Design")   Web design
          li W12 11/21 Fr
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/09_Accessibility")  Web Accessibility
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/10_Usability")  Usability

          li W13 11/25 - 11/28 
            br
            span #[i Thanksgiving Break - No class]

          li W14 12/02 Tu
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/11_Testing")  Testing?
            br
            span  Security?
          li W14 12/05 Fr
            br
            a(href="https://github.com/john-guerra/NodeMongoReactWebSockets")  Web Sockets?
            br
            a(href="https://johnguerra.co/lectures/webDevelopment_fall2025/12_DataViz_Intro/")  Dataviz principles?
            div  Machine Learning in the web?
            div  SvelteKit / Static Sites?
            div  GraphQL?
            div  PWAs?
            div  Desktop Apps?


          li W15 12/09 Tu
            br
            strong  Final Project Due
                        


      div.col-md-7.col-12
        h3 Grading

        table.table(style="width:100%")
          thead
            th Concept
            th %
          tbody
            tr
              td Projects
              td 60%
            tr
              td Participation
              td 20%
            tr
              td Midterm Evaluation
              td 20%

        //- div.col-md-3.col-sm-12
        h3 Requirements

        p Students are required to have strong foundations on algorithms, databases and software engineering. They are also required to have BlueSky and Github accounts. Please #[a(href="https://docs.google.com/forms/d/e/1FAIpQLSeK-S1b4hsysBytfJWAjP8cy928VmiUWDTDav59_Z0hixh1jw/viewform?usp=dialog") use this form to enter your BlueSky and Github handle]
        p Every student is required to complete a #[a(href="https://docs.google.com/spreadsheets/d/1_qF9FnwvNGG-wnu3sOattbxwJsTjWFFSUjBjZI34BP8/edit?usp=sharing") series of readings and materials before class]. This is not only #[strong required] but also very important, since in class we will assume they were reviewed, discuss them and cover more advanced topics.


        h4 Reading comments
        p #[strong Before every class, students must submit to canvas a smart question about something they learned from the readings]. The comments should be original, shouldn't repeat what was said before, and demonstrate the proficiency of the required reading.
        p These questions are going to considered for the class participation grade.
        //-  Each comment will be rated as follows:
        //- ul
        //-   li #[strong 2 points]: An interesting and original comment
        //-   li #[strong 1 points]: An interesting comment but that was mentioned before by another student
        //-   li #[strong 0 points]: A non interesting comment

    .row
      div.col-md-6.col-12
        h4
          a(href="http://web-dev-neu.slack.com")  Slack Workspace web-dev-neu.slack.com

        p #[a(href="https://join.slack.com/t/web-dev-neu/shared_invite/zt-3cj0jwvgj-Ya77WAYGgOoCjdI43f33Ew") 👋🏼] All the class' messages are going to be sent using our #[a(href="http://web-dev-neu.slack.com") Slack workspace]. Students are encouraged to use slack to ask questions, coordinate and collaborate. Some guidelines:
        ul
          li Use #general for general issues, questions etc.
          li Use #project for proposing projects and requesting approval. All projects must be approved by the teacher.
          li Only the teaching assistants and the professor should create threads on #anuncios. This channel is used for major announcements.
          li Use #random for sharing random stuff.
          li Use #classchat for the class conversation.


      div.col-md-6.col-12
        h3 Videos and Lectures
        p Sometimes the class will be recorded, links will be shared privately. For the online version of the class there will be asynchronous materials every week as well as some live office hours sessions.
    div.row
      div.col-md-8.col-sm-12
        h3 Slides on GitHub
        span.

          <a class="github-button" href="https://github.com/john-guerra/webDevelopmentSlides/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork john-guerra/webDevelopmentSlides on GitHub">Fork</a>


  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous")

  script(async defer src="https://buttons.github.io/buttons.js")
  //- script.
  //-   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  //-     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  //-     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  //-   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  //-   ga('create', 'UA-72531610-1', 'auto');
  //-   ga('send', 'pageview');



