<!-- ********************** Experience *********************-->
<section id="experience" class="row">
  <div class="col-md-12 col-lg-12">
    <h2>Experience and Education</h2>
    <div style="width: '100%'">
      <svg
        id="timeline"
        height="150"
        alt="My experience in a timeline"
      ></svg>
    </div>
    <!-- <img class="svg-inject" src="img/Experience Timeline.svg" width="100%" alt="My experience in a timeline"> -->
  </div>
</section>
<!-- End experience -->


<!-- ********************** Achievements *********************-->
<section id="achievements">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12" id="achievementsText">
      <!-- Northeastern -->
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <div>
            <img
              src="img/Northeastern box.png"
              class="time-slab"
              alt="Northeastern"
            />
          </div>
          <div class="experienceTimeline">
            08/2020 to Present
          </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            Assistant Teaching Professor
          </div>
          <ul>
            <li>
              Conducting research in information visualization and
              accesibility.
            </li>
            <li>
              Teaching: Web Development, Database Management Systems and
              Information Visualization.
            </li>
          </ul>
        </div>
      </div>
      <!-- End Northeastern -->
      <hr />
      <!-- Uniandes -->
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <img
            src="img/Uniandes box.png"
            class="time-slab"
            alt="Uniandes"
          />
          <div class="experienceTimeline">
            06/2016 to 06/2020
          </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            Assistant Professor (Tenure Track)
          </div>
          <ul>
            <li>
              Conducted research in
              <a href="./navio.html">large dataviz</a>,
              <a href="./netviz.html">network visualization</a> and
              <a href="./photoviz.html">photo visualization</a> and
              accessibility, with the help of great
              <a href="#students">students</a>.
            </li>
            <li>
              Redesigned and taught the
              <a
                href="http://johnguerra.co/classes/visual_analytics_fall_2019/"
                >Visual Analytics</a
              >
              (<a
                href="http://johnguerra.co/classes/visual_analytics_fall_2018/"
                >Fall '18</a
              >,<a
                href="http://johnguerra.co/classes/visual_analytics_fall_2017/"
              >
                Fall '17</a
              >,<a
                href="http://johnguerra.co/classes/isis_4822_fall_2016/"
              >
                Fall '16</a
              >) and
              <a
                href="http://johnguerra.co/classes/webDevelopment_fall_2019/"
                >Web Development</a
              >
              classes (<a
                href="http://johnguerra.co/classes/webDevelopment_fall_2018/"
                >Fall '18</a
              >,
              <a
                href="http://johnguerra.co/classes/webDevelopment_spring_2018/"
                >Spring '18</a
              >,
              <a
                href="http://johnguerra.co/classes/webDevelopment_spring_2017/"
                >Spring '17</a
              >,
              <a
                href="http://johnguerra.co/classes/webDevelopment_fall_2017/"
                >Fall '17</a
              >).
            </li>
          </ul>
        </div>
      </div>
      <!-- End uniandes -->
      <hr />
      <!-- Berkeley -->
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <img
            src="img/Berkeley box.png"
            class="time-slab"
            alt="Berkeley"
          />
          <div class="experienceTimeline">
            01/2017 to 06/2020
          </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            Remote Lecturer and Course Coordinator
          </div>
          <ul>
            <li>
              Course co-designer, course coordinator, and remote lecturer
              at
              <a
                href="https://www.ischool.berkeley.edu/people/john-alexis-guerra-gomez"
                >Berkeley's online Master in Data Science</a
              >. Teaching W209 Data Communication and Visualization.
            </li>
            <li>
              Completely redesigned the
              <a
                href="https://github.com/john-guerra/MIDS_W209_Information_Visualization_Slides"
                >course materials</a
              >
              to include the
              <a href="https://www.cs.ubc.ca/~tmm/vadbook/"
                >Visual Analytics theory fundamentals</a
              >, and D3, Vega-Lite, and Tableau Practice. In collaboration
              with
              <a
                href="https://www.ischool.berkeley.edu/people/andy-reagan"
                >Andy Reagan</a
              >
            </li>
            <li>
              Published a
              <a href="https://youtu.be/7oezUB2y-Zw"
                >series of videos on how to go from Visualization theory
                to practice</a
              >
            </li>
            <li>
              Student projects:
              <a
                href="http://johnguerra.co/viz/berkeleyFinalProjectsSummer2020/"
                >Summer 2020</a
              >,
              <a
                href="http://johnguerra.co/viz/berkeleyFinalProjectsSpring2020/"
                >Spring 2020</a
              >,
              <a
                href="http://johnguerra.co/viz/berkeleyFinalProjectsFall2019/"
                >Fall 2019</a
              >,
              <a
                href="http://johnguerra.co/viz/berkeleyFinalProjectsFall2018/"
                >Fall 2018</a
              >,
              <a
                href="http://johnguerra.co/viz/berkeleyFinalProjectsSpring2018/"
                >Spring 2018</a
              >,
              <a
                href="http://johnguerra.co/viz/berkeleyFinalProjectsSummer2017/"
                >Summer 2017</a
              >,
              <a
                href="http://johnguerra.co/viz/berkeleyFinalProjectsFall2017/"
                >Fall 2017.</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- End Berkeley -->
      <hr />
      <!-- Btactile -->
      <!-- <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
              <img src="img/Btactile box.png" class="time-slab" alt="Btactile">
            </div>
            <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
              <ul>
                <li>
                  Co-founded and wrote <a href="http://btactile.com">BTactile</a> a platform to index 5000 tactile graphics for the blind from all over the world using Meteor.js and React.
                </li>
              </ul>
            </div>
            <div class="col-sm-2">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <a href="http://btactile.com">
                    <img src="img/thumb_btactile.png" class="project-thumb" alt="BTactile screenshot">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr> -->
      <!-- End Btactile -->
      <!-- Yahoo labs -->
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <img
            src="img/Yahoo Labs box.png"
            class="time-slab"
            alt="Yahoo Labs"
          />
          <div class="experienceTimeline">
            01/2015 to 04/2016
          </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            Postdoctoral Researcher
          </div>
          <ul>
            <li>
              Explored information visualization interfaces for navigating
              big repositories of photos.
            </li>
            <li>Helped redesign <strong>Flickr stats</strong>.</li>
            <li>
              Developed and deployed a visualization for better exploring
              the organizational units that is being used company wide.
            </li>
            <li>
              Modified Flickr code to add a new photo navigation
              visualization.
            </li>
            <li>
              Four papers accepted in two major conferences (CHI2016 and
              AVI2016).
            </li>
            <li>
              Created visual analytics for dozens of complex Yahoo
              datasets.
            </li>
          </ul>
        </div>
      </div>
      <!-- End yahoo labs -->
      <hr />
      <!-- PARC -->
      <div class="row" style="page-break-after: always;">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <img src="img/Parc box.png" class="time-slab" alt="PARC" />
          <div class="experienceTimeline">
            05/2013 to 12/2014
          </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            Research Scientist
          </div>
          <ul>
            <li>
              Created
              <strong
                ><a href="https://www.youtube.com/watch?v=9lYvVjsstZs"
                  >Network Explorer</a
                ></strong
              >
              a visual network analytics tool to explore hundreds of
              thousands of nodes, which was implemented, among others, in
              a Fraud, Waste and Abuse solution from Xerox and is being
              used for detecting fraud in Health Care networks.
            </li>
            <li>Constructed several dashboards using Tableau.</li>
            <li>
              Developed and integrated several other time-based and text
              based visualizations in 3 different products.
            </li>
          </ul>
        </div>
      </div>
      <!-- End PARC -->
      <hr />
      <!-- Extras -->
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <img src="img/Extras box.png" class="time-slab" alt="Extras" />
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            Inventor, Entrepreneur, Speaker
          </div>
          <ul>
            <li>
              Co-founded and developed
              <strong><a href="http://btactile.com">BTactile</a></strong>
              a platform to index 5000 tactile graphics for the blind from
              all over the world using Meteor.js and React.
            </li>
            <li>
              <strong>OpenVis 2017 Speaker</strong> with
              <a href="http://www.openvisconf.com/2017/#jgomez-video-item"
                >Untangling the Hairball</a
              >,
              <a
                href="http://johnguerra.co/slides/untanglingTheHairball/#/"
                >slides</a
              >.
            </li>
            <li>
              Creator of open source software:
              <strong
                ><a
                  href="https://github.com/john-guerra/revealVizScrollyteling"
                  >RevealVizScroll</a
                ></strong
              >,
              <strong
                ><a
                  target="_blank"
                  href="https://github.com/john-guerra/forceInABox"
                  >force-in-a-box</a
                ></strong
              >,
              <strong
                ><a
                  target="_blank"
                  href="https://github.com/john-guerra/netClusteringJs"
                  >netClustering.js</a
                ></strong
              >,
              <strong
                ><a target="_blank" href="https://navio.dev"
                  >navio</a
                ></strong
              >.
            </li>
            <li>
              Co-creator of
              <strong
                ><a target="_blank" href="http://tweetometro.co"
                  >tweetometro.co</a
                ></strong
              >
              a platform to monitor Twitter activity for the Colombian
              presidential election.
            </li>
            <!-- <li>
                    Creator of
                    <strong
                      ><a target="_blank" href="http://wholikesmyfb.com"
                        >WholikesMyFB.com</a
                      ></strong
                    >
                    a Facebook app to explore who likes your post the most.
                  </li> -->
            <!-- 							<li>Other experiments <strong><a target="_blank" href="http://www.dutovis.com/tradeFlow/flow/flow.html">Tradeflow:</a></strong> A tool to compare the imports/exports of products in countries of the Americas</li>
                -->
          </ul>
        </div>
      </div>
      <!-- End Extras -->
      <hr />
      <!-- PhD -->
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <img src="img/PhD box.png" class="time-slab" alt="PhD" />
          <div class="experienceTimeline">
            08/2008 to 04/2013
          </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            PhD Student, RA and TA.
          </div>
          <ul>
            <li>
              <strong>PhD</strong> and <strong>MSc</strong> in Computer
              Science under the supervision of
              <a href="https://www.cs.umd.edu/users/ben/"
                >Dr. Ben Shneiderman</a
              >
              and
              <a href="http://hcil.umd.edu/catherine-plaisant/"
                >Dr. Catherine Plaisant</a
              >
              at the
              <a href="http://www.cs.umd.edu/"
                >University of Maryland (2013)</a
              >.
            </li>
            <li>
              Created the <strong>StemView</strong> a visualization
              technique that represents 5 characteristics of change in
              trees.
            </li>
            <li>
              Created the <strong>Bullet</strong> a visualization glyph
              that represents 4 characteristics of change in trees.
            </li>
            <li>
              Implemented
              <strong
                ><a
                  href="http://treeversity.cattlab.umd.edu/?hierarchy=agency/bureau&db=tv2_budget&seqFrom=01/01/70&seqTo=01/01/15&currentFrom=40&title=US%20Federal%20Budget"
                  >TreeVersity2</a
                ></strong
              >
              a visual analytics web application to explore change in
              datasets over time.
            </li>
            <li>
              Implemented
              <strong
                ><a href="https://github.com/john-guerra/treeversity"
                  >TreeVersity</a
                ></strong
              >
              a visual analytics desktop application to compare changes
              between two trees.
            </li>
            <li>
              Conducted 13 case studies with 9 domain experts to validate
              TreeVersity and TreeVersity2.
            </li>
          </ul>
        </div>
      </div>
      <!-- End PhD -->
      <hr />
      <!-- Lecturer -->
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <img
            src="img/Professor box.png"
            class="time-slab"
            alt="Lecturer"
          />
          <div class="experienceTimeline">
            01/2005 to 01/2008
          </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            Full Time Lecturer
          </div>
          <ul>
            <li>
              Winner of the
              <strong
                ><a href="http://scienceandtech.fulbrightonline.org/"
                  >Fulbright Science and Technology scholarship</a
                ></strong
              >
              (40 people awarded in the world yearly).
            </li>
            <li>
              Lecturer in a wide range of undergrad courses from
              Programming to Distributed Systems.
            </li>
          </ul>
        </div>
      </div>
      <!-- End Lecturer -->
      <hr />
      <!-- DUTO -->
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 experienceHeader">
          <img src="img/DUTO box.png" class="time-slab" alt="DUTO" />
          <div class="experienceTimeline">
            06/2003 to 06/2013
          </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-12 experienceBody">
          <div class="experienceTitle">
            Co-founder and CTO
          </div>
          <ul>
            <li>
              <strong>Co-founder</strong> of
              <a href="http://duto.co">DUTO</a> and Co-creator of
              <a href="http://duto.org/portafolio/">IRIS</a> a system that
              allows blind students to see with their hands.
            </li>
            <li>
              <strong>CTO</strong> and responsible of all the software
              development in the company.
            </li>
            <li>
              Winner of more than
              <a href="http://duto.org/nosotros/logros/"
                >10 international entrepreneurship awards</a
              >.
            </li>
          </ul>
        </div>
      </div>
      <!-- End DUTO -->
    </div>
    <!-- achievements text -->
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div id="projectsComb"></div>
    </div>
  </div>
</section>
<!-- End achievements -->
