<!-- ******************** Research ****************** -->
<section class="row" id="research">
  <h2>Academic contributions</h2>

  <form id="orderBy">
    Order by:
    <label class="form-check-label"
      ><input
        class="form-check-input"
        type="radio"
        name="papersOrderBy"
        id="byDate"
        checked
      />
      Date</label
    >
    <label class="form-check-label"
      ><input
        class="form-check-input"
        type="radio"
        name="papersOrderBy"
        id="category"
      />
      Category</label
    >

    <label class="form-check-label"
      ><input
        class="form-check-input"
        type="radio"
        name="papersOrderBy"
        id="type"
      />
      Type</label
    >
  </form>
  <div id="papersFilters"></div>
  <main class="row">
    <div id="papersContent"></div>
  </main>
</section>
<!-- end research -->
