<h2>Things I have built</h2>

<div class="row">
  <div class="col-md-2">
    <a href="./navio.html">
      <img class="project" src="img/Navio.png" alt="Navio screenshot" />
    </a>
  </div>
  <div class="col-md-10">
    <a href="./navio.html">
      <h4>Navio</h4>
    </a>
    <p>A visualization widget that you can use to explore large data</p>
  </div>
</div>
<!-- end Navio -->
<br />

<div class="row">
  <div class="col-md-2">
    <a href="http://btactile.com">
      <img
        class="project"
        src="img/BTactile_screenshot.png"
        alt="BTactile screenshot"
      />
    </a>
  </div>
  <div class="col-md-10">
    <a href="http://btactile.com">
      <h4>BTactile</h4>
    </a>
    <p>A search engine for tactile images for the blind.</p>
  </div>
</div>
<!-- end btactile -->
<br />

<div class="row">
  <div class="col-md-2">
    <a href="http://dev.tweetometro.co">
      <img
        class="project"
        src="img/projs/tweetometro.png"
        alt="Tweetometro screenshot"
      />
    </a>
  </div>
  <div class="col-md-10">
    <a href="http://dev.tweetometro.co">
      <h4>Tweetometro</h4>
    </a>
    <p>Twitter monitor and analyzer for different topics</p>
  </div>
</div>
<!-- end tweetometro -->
<br />

<div class="row">
  <div class="col-md-2">
    <a href="photoviz.html">
      <img class="project" src="img/colorsTreemap.png" alt="Phototreemap" />
    </a>
  </div>
  <div class="col-md-10">
    <a href="photoviz.html">
      <h4>Phototreemap</h4>
    </a>
    <p>
      Representing groups of photos with numeric attributes. Work in progress,
      pending publication.
    </p>
  </div>
</div>
<!-- end phototreemap -->
<br />

<div class="row">
  <div class="col-md-2">
    <a href="netviz.html"
      ><img
        class="project"
        src="img/overview_10k_nointer_cropped.png"
        alt="Network Explorer"
    /></a>
  </div>
  <div class="col-md-10">
    <a href="netviz.html">
      <h4>Network Explorer</h4>
    </a>
    <p>
      Visual analytics tool for understanding large networks. Pending
      publication.
    </p>
  </div>
</div>
<!-- end phototreemap -->
<br />

<div class="row">
  <div class="col-md-2">
    <a href="old/treeversity_v2.html">
      <img
        class="project"
        src="img/treeversity_v2_thumb.png"
        alt="TreeVersity v2"
      />
    </a>
  </div>
  <div class="col-md-10">
    <a href="old/treeversity_v2.html">
      <h4>TreeVersity v2</h4>
    </a>
    <p>
      Visualizing five dimensions of change in a dataset changing over time
      using hierarchies
    </p>
  </div>
</div>

<!-- end treeversity2 -->
<br />

<div class="row">
  <div class="col-md-2">
    <a href="http://hcil.cs.umd.edu/treeversity">
      <img class="project" src="img/treeversityv1.png" alt="TreeVersity v1"
    /></a>
  </div>
  <div class="col-md-10">
    <a href="http://hcil.cs.umd.edu/treeversity">
      <h4>TreeVersity v1</h4>
    </a>
    <p>Comparing changes between trees on structure and node values.</p>
  </div>
</div>
<!-- end treeversity -->
<br />

<div class="row">
  <div class="col-md-2">
    <a href="http://www.cs.umd.edu/hcil/lifeflow/">
      <img class="project" src="img/lifeflow_thumb.png" alt="LifeFlow" />
    </a>
  </div>
  <div class="col-md-10">
    <a href="http://www.cs.umd.edu/hcil/lifeflow/">
      <h4>LifeFlow</h4>
    </a>
    <p>
      A visual analytics tool for temporal categorical data. Helped developing
      the comparison modules as part of a broader project.
    </p>
  </div>
</div>
<!-- end Lifeflow -->

<br />

<div class="row">
  <div class="col-md-2">
    <a href="http://duto.org/iris">
      <img class="project" src="img/IRIS.jpg" alt="IRIS" />
    </a>
  </div>
  <div class="col-md-10">
    <a href="http://duto.org/iris">
      <h4>IRIS</h4>
    </a>
    <p>
      A system to allow blind children to see colors and shapes with their hands
    </p>
  </div>
</div>
<!-- end IRIS -->
