doctype html
html
  head
    title CS5610: Web Development Project form
    meta(charset="utf-8")
    link(href="../../css/bootstrap.css" rel="stylesheet")

  body
    p Redirecting to 
      a(href="https://docs.google.com/forms/d/e/1FAIpQLSctojQdpuaVF9C7W104UN3XV7kjrl-nMptYrv_kCriw4oZ9uQ/viewform?usp=dialog") https://docs.google.com/forms/d/e/1FAIpQLSctojQdpuaVF9C7W104UN3XV7kjrl-nMptYrv_kCriw4oZ9uQ/viewform?usp=dialog


    script.
      window.location = "https://docs.google.com/forms/d/e/1FAIpQLSctojQdpuaVF9C7W104UN3XV7kjrl-nMptYrv_kCriw4oZ9uQ/viewform?usp=dialog";
