<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>John Alexis Guerra Gómez's CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="John Alexis Guerra Gomez CV" />
    <meta name="author" content="John Alexis Guerra Gomez" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('partials/headersPartial.ejs.html') %>
  </head>

  <style>
    /* For PDF export */
    body {
      width: 95%;
      margin: 0 auto;
    }
    @media print {
      @page {
        margin: 5mm 0mm 5mm 0mm;
        size: 17in 18in;
      }
    }

    .img200 {
      width: 50%;
      max-width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    hr {
      margin: 0px;
    }

    /* New page after inventor  */
    #achievementsText > div:nth-child(11) {
      page-break-after: always;
    }

    /*.experience {*/
    /*font-size: 120%;*/
    /*}*/
  </style>

  <body>
    <div class="content container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h1>
            John Alexis <br />
            Guerra Gómez
          </h1>
          <p class="subtitle">
            I build tools and teach developers at the intersection of
            <strong>information visualization</strong>,
            <strong>AI-assisted development</strong>, and
            <strong>accessibility</strong>.
          </p>
          john.guerra[~at~]gmail.com<br />
          <a href="http://johnguerra.co">johnguerra.co</a>
          <br />
          <a href="http://johnguerra.co/img/johnguerra_cv.pdf">PDF Version</a>
          <br />
          <a
            href="https://twitter.com/duto_guerra"
            class="twitter-follow-button"
            data-show-count="false"
            >Follow @duto_guerra</a
          >
          <!-- <script>
            !(function(d, s, id) {
              var js,
                fjs = d.getElementsByTagName(s)[0];
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            })(document, "script", "twitter-wjs");
          </script> -->
        </div>
        <div class="col-xs-12 col-md-6">
          <%- include('partials/nutshellPartial.ejs.html') %>
        </div>

        <div class="col-xs-12 col-md-2">
          <h3>Skills</h3>
          <p style="font-size: 0.85em; line-height: 1.6">
            <% const allItems = [...areas, ...tools]; %>
            <% Object.keys(categories).forEach(function(cat, i) { %>
              <strong><%= categories[cat] %>:</strong>
              <%= allItems.filter(s => s.category === cat).map(s => s.name).filter((v, i, a) => a.indexOf(v) === i).join(', ') %><% if (i < Object.keys(categories).length - 1) { %><br /><% } %>
            <% }); %>
          </p>
        </div>
      </div>

      <div class="row"></div>

      <!-- ********************** Achievements *********************-->
      <%- include('./partials/experiencePartial.ejs.html'); %>
      <!-- End achievements -->

      <hr />

      <!-- *********** PAPERS ************** -->

      <%- include('./partials/papersPartial.ejs.html') %>
      <!-- end research -->

      <hr />

      <!-- ***************** PROJECTS *************** -->
      <section id="projects">
        <%- include('partials/projectsPartial.ejs.html') %> <%-
        include('partials/notebooksPartial.ejs.html') %>
      </section>
      <!-- end projects -->

      <!-- ***************** STUDENTS ******************* -->
      <!-- <div class="row students" id="students">
				<h2>Students</h2>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-8 col-sm-12">
					<div id="studentsViz" class="step"></div>
					<div id="studentsList"></div>
				</div>
				<div class="filler"></div>
			</div> -->
      <!-- end photos -->
    </div>
    <!--/.fluid-container-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="js/svg-injector.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
    <script src="js/experienceTimeline.js"></script>
    <script src="js/projectsComb.js"></script>
    <script src="js/papers.js"></script>
    <script type="text/javascript" src="js/tabletop.js"></script>
    <script type="text/javascript" src="js/scroller.js"></script>
    <script type="text/javascript" src="js/researchStudents.js"></script>
    <script src="js/main.js"></script>
    <script src="js/papers.js" type="module"></script>

    <script>
      // Elements to inject
      var mySVGsToInject = document.querySelectorAll("img.svg-inject");

      // Do the injection
      SVGInjector(mySVGsToInject);
    </script>

  </body>
</html>
